@model ProductUpdateDto

div class="container">
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="CostPrice"></label>
            <input asp-for="CostPrice" class="form-control" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="CostPrice"></span>
        </div>
        <div class="form-group">
            <label asp-for="File"></label>
            <input asp-for="File" class="form-control" aria-describedby="emailHelp">
            <img style="display:none" width="300" height="100" id="imgPreview" src="" alt="" />
            <span class="text-danger" asp-validation-for="File"></span>
        </div>
        <div class="btn-group form-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" asp-for="InStock" class="btn-check form-control" autocomplete="off">
            <label class="btn btn-outline-primary" asp-for="InStock"></label>
        </div>
        <div class="form-group mt-3">
            <label>Select Content Type</label><br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="moviechose" asp-for="MovieOrShow" type="radio" value="movie" checked />
                <label class="form-check-label" for="MovieOrShow">Movie</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="showchose" asp-for="MovieOrShow" type="radio" value="tvshow" />
                <label class="form-check-label" for="MovieOrShow">TV Show</label>
            </div>
            <span asp-validation-for="MovieOrShow" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Select Movie (if selected)</label>
            <select asp-for="MovieId" id="movie" class="form-select">
                <option value="">-- Select a movie --</option>
                @foreach (var movie in ViewBag.Movies)
                {
                    <option value="@movie.Id">@movie.Title</option>
                }
            </select>
            <span asp-validation-for="MovieId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Select TV Show (if selected)</label>
            <select asp-for="TVShowId" id="show" class="form-select">
                <option value="">-- Select a TV Show --</option>
                @foreach (var tvShow in ViewBag.TVShows)
                {
                    <option value="@tvShow.Id">@tvShow.Title</option>
                }
            </select>
            <span asp-validation-for="TVShowId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </form>
</div>
</div>

@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}
