@model ForgotPasswordVm
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="login-reg-form-wrap">
                <h2>Forgot Password</h2>
                <form method="post">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["Success"]
                        </div>
                    }
                    <div class="single-input-item">
                        <input asp-for="Email" placeholder="Email" required />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <button type="submit" class="btn btn-outlined">Confirm</button>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}
