@model ResetPasswordVm
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="login-reg-form-wrap">
                <h2>Reset Password</h2>
                <form method="post">
                    <input type="hidden" name="token" value="@(TempData["token"])" />
                    <input type="hidden" name="email" value="@(TempData["email"])" />
                    <div class="single-input-item">
                        <input asp-for="Password" placeholder="Enter your Password" required />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="single-input-item">
                        <input asp-for="ConfirmPassword" placeholder="Confirm your Password" required />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <button class="btn btn-outlined" type="submit">Reset</button>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                </form>
            </div>
        </div>

    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}