@model EpisodeUpdateDto

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="EpisodeNumber"></label>
        <input asp-for="EpisodeNumber" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Episode Number">
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <select class="form-select" asp-for="SeasonId">
            @foreach (var season in ViewBag.Season)
            {
                <option value="@season.Id">@season.SeasonNumber</option>
            }
        </select>
    </div>
    <div class="form-group">
        <select class="form-select" asp-for="SeasonId">
            @foreach (var season in ViewBag.Season)
            {
                <option value="@season.Id">@season.SeasonNumber</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Genre Name">
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Genre Name">
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Genre Name">
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="File"></label>
        <input asp-for="File" class="form-control" aria-describedby="emailHelp">
        <img style="display:none" width="300" height="100" id="imgPreview" src="" alt="" />
        <span class="text-danger" asp-validation-for="File"></span>
    </div>
    <div class="form-group">
        <label asp-for="Film"></label>
        <input asp-for="Film" class="form-control" aria-describedby="emailHelp">
        <img style="display:none" width="300" height="100" id="imgPreview" src="" alt="" />
        <span class="text-danger" asp-validation-for="Film"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
</form>
    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}
