        <!--<< Breadcrumb Section Start >>-->
<div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="page-heading">
            <div class="page-header-left">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">Error 404</h1>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a href="index.html">
                            <i class="fa-solid fa-house"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-slash-forward"></i>
                    </li>
                    <li>
                        404
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 404 Error Section Start -->
<section class="error-section section-padding fix pb-0">
    <div class="container">
        <div class="error-content text-center">
            <h2 class="wow fadeInUp" data-wow-delay=".3s">4<span>0</span>4</h2>
            <h3 class="wow fadeInUp" data-wow-delay=".5s">we’re sorry page not found</h3>
            @if (ViewBag.ErrorMessage != null)
            {
                <p>Ошибка: @ViewBag.ErrorMessage</p>
            }
            <a href="index.html" class="theme-btn style-line-height mt-5 wow fadeInUp" data-wow-delay=".7s">
                <span class="button-text">Back To Home</span>
            </a>
        </div>
    </div>
</section>
